%h1 Movies#show
%p Find me in app/views/movies/show.html.haml
%h2 Deatils about #{@movie.title}
%ul#details
  %li
    Rating:
    = @movie.rating
  %li
    Released on: 
    = @movie.release_date.strftime("%B %d, %Y")
= link_to 'Edit info', edit_movie_path(@movie)
%p
= link_to 'Add a review', new_movie_review_path(@movie)
= button_to 'Delete', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?'
%p
= link_to 'Back to movies list', movies_path
