%h1 All movie reviews
%table#movie_reviews
  %thead
    %tr
      %th Movie id
      %th Moviegoer id
      %th Potatoes
  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.movie_id
        %td= review.moviegoer_id
        %td= review.potatoes
        
    